.header {
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
}

.header__nav {
  width: 1110px;
  height: 70px;
  margin: 0 85px 0 85px;
  display: flex;
  align-items: center;
  background-color: #fcb8c4;
}

.header__nav_links {
  width: 717px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header__nav_link {
  font-family: "Playmaker", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-decoration: none;
  color: blueviolet;
}

.header__social {
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__social_list {
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 25px;
}

.header__list-item {
  width: 30px;
  height: 30px;
  margin: 0;
}

.header__social-icon {
  width: 30px;
  height: 30px;
}

.header__social-icon:hover {
  opacity: 0.5;
}

.header__container {
  display: flex;
  margin: 0 auto;
}

.header__text {
  width: 538px;
  height: 250px;
  margin: 131px 0 180px 180px;
  display: flex;
  flex-direction: column;
}

.header__title {
  width: 492px;
  height: 72px;
  margin: 0;
  margin-right: 66px;
  color: #fff;
  font-family: "Enigma", Arial, Helvetica, sans-serif;
  font-size: 44px;
  /* font-weight: bold; */
  line-height: auto;
  align-content: center;
}

.header__paragraph_1 {
  width: 492px;
  height: 72px;
  margin: 10px 0 10px;
  color: #c9c9c9;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.header__paragraph_2 {
  width: 492px;
  height: 72px;
  margin: 10px 0;
  color: #c9c9c9;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.header__photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 80px 95px 80px 32px;
}

.header__bottom {
  width: 920px;
  margin: auto 180px 44px;
  display: flex;
  flex-direction: column;
}

.header__bottom-text {
  margin: 0 0 45px;
  color: #fff;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100%;
}

.header__logos {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 70px;
  height: 75px;
}
