.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  list-style: 20px;
}

body {
  margin: 0;
  background-color: #000;
}

/* content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
